/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.highlight {
  background: yellow;
}

.padding-sm {
  padding: 10px
}

.padding-xl {
  padding: 50px
}

button {
  @apply bg-sky-600 text-white rounded-2xl px-3 py-1 hover:bg-sky-400 transition disabled:opacity-60 disabled:pointer-events-none
}

button.primary {
  @apply bg-red-400;
}
input {
  @apply border border-black
}
